[web] 
%{~ for vm in web_hosts ~}
${vm.name} ansible_host=${coalesce(vm.ip, vm.internal_ip)} fqdn=${vm.fqdn}
%{~ endfor ~}

[db] 
%{~ for vm in db_hosts ~}
${vm.name} ansible_host=${coalesce(vm.ip, vm.internal_ip)} fqdn=${vm.fqdn}
%{~ endfor ~}

[storage] 
${storage_host.name} ansible_host=${coalesce(storage_host.ip, storage_host.internal_ip)} fqdn=${storage_host.fqdn}

[all:vars]
ansible_user=ubuntu 
ansible_ssh_private_key_file=${ssh_private_key}